/* importing font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* afrimama green #20b303 */
/* afrimama red #fe6600 */

/* reset browser default tags */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

/* BUY NOW PAY LATER LABEL */

.label-buynow {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 15%;
  transform: translate(40%) rotate(270deg);
  cursor: pointer;

  background-color: #20b303;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  width: 200px;
}
.label-buynow-label {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .label-buynow {
    padding: 8px;
    width: 200px;
  }

  .label-buynow-label {
    font-size: 12px;
  }
}

/* BACKDROP SECTION */
.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  transition: opacity 0.2s linear;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 1000vh;
  background: rgba(0, 0, 0, 0.7);
}

/* MODAL SECTION */
.modal {
  display: none;
  position: fixed;
  opacity: 0;
  transform: translateY(-10rem);
  transition: opacity 300ms ease-in, transform 500ms ease-in;
  z-index: 201;
  top: 40%;
  left: 30%;
  width: 40%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
}

.modal__title {
  background-color: #d7dec3;
  color: #20b303;
  padding: 20px;
}

.modal__brief {
  font-size: 20px;
  padding: 20px;
}

.modal__action {
  font-size: 20px;
  margin: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #20b303;
  transition: 1s;
  border: 1px solid #20b303;
  border-radius: 5px;
}

.modal__action:hover {
  background-color: white;
  color: #20b303;
}

.open {
  display: block;
}
/* HEADER SECTION */

header {
  background: rgba(0, 0, 0, 0.4)
    url("images/imgonline-com-ua-blur-kfT91zkPDto.jpg");
  background-size: cover;
  background-position: 50% 55%;
  height: 100vh;
  position: relative;
  background-blend-mode: darken;
}

.header-content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 2.25em;
  background-color: white;
}

/* LOGO */
.logo img {
  width: 138px;
  height: 43px;
  display: relative;
}

@media (max-width: 700px) {
  .logo img {
    width: 110.4px;
    height: 34.4px;
  }
}
/* MOBILE NAV */

.mobile-nav-btn {
  background-color: #20b303;
  color: white;
  font-size: 15px;
  border: none;
  top: 20px;
  right: 20px;
  position: fixed;
  padding: 0.3rem 0.6rem;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0px);
  z-index: 400;
  display: none;
}

.mobile-nav-btn.mobileactive {
  transform: translateX(-85px);
}

.mobile-navlinks-wrapper {
  height: 100vh;
  position: fixed;
  padding: 70px 20px 0px 20px;
  top: 0;
  right: 0;
  background-color: #20b303;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 400;
  display: none;
}

.mobile-navlinks-wrapper.mobileactive {
  transform: translateX(0px);
}

.mobile-navlinks-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.mobile-navlinks-wrapper ul li {
  padding: 2rem 0.5rem;
}

.mobile-navlinks-wrapper a:-webkit-any-link {
  text-decoration: none;
}

.mobile-navlinks-wrapper a {
  color: white;
  text-decoration-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 0.75rem 0;
}

.mobile-nav-link:hover {
  transition: 0.5s;
  /* color: #20b303; */
  border-bottom: 3px solid #20b303;
}

/* NAV LINKS */

.navlinks-wrapper {
  display: block;
}

.nav-link {
  color: #242121;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
  padding: 5px 10px;
  margin: 10px;
}

.nav-link.activenav,
.nav-link.activenav:hover {
  color: #20b303;
  border: 1px solid #20b303;
  border-radius: 20px;
}

.nav-link:hover {
  transition: 0.5s;
  color: #20b303;
  border-bottom: 3px solid #20b303;
}

@media (max-width: 700px) {
  .modal {
    top: 30%;
    left: 20%;
    width: 60%;
  }

  .modal__title {
    font-size: 15px;
    padding: 10px;
  }

  .modal__brief {
    font-size: 12px;
    padding: 10px;
  }

  .modal__action {
    font-size: 12px;
    margin: 10px;
    padding: 5px 10px;
  }
  .header-content-wrapper {
    position: fixed;
    width: 100%;
  }

  .navlinks-wrapper {
    display: none;
  }

  .mobile-nav-btn {
    display: block;
  }

  .mobile-navlinks-wrapper {
    display: block;
  }
}
/* HEADER HERO */
.hero-wrapper {
  color: white;
  /* color: #20b303; */
  /* color: #fe6600; */
  text-align: center;
  position: relative;
  top: 27%;
}
.hero-wrapper-welcome {
  font-size: 50px;
  line-height: 1.4;
}
.hero-wrapper-brief {
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
}

.hero-wrapper-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 45px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 0;
  outline: none;
}

.hero-wrapper-button svg {
  width: 25px;
  height: 25px;
}

.hero-wrapper-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #20b303;
  border-radius: 10px;
  z-index: -2;
}

.hero-wrapper-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fe6600;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}

.hero-wrapper-button:hover {
  color: #fff;
}

.hero-wrapper-button:hover:before {
  width: 100%;
}

@media (max-width: 1000px) {
  header {
    height: 80vh;
  }
}

@media (max-width: 900px) {
  header {
    height: 75vh;
  }
}

@media (max-width: 800px) {
  header {
    height: 70vh;
  }
}

@media (max-width: 700px) {
  header {
    height: 70vh;
  }

  .hero-wrapper-welcome {
    font-size: 30px;
  }
  .hero-wrapper-brief {
    font-size: 19px;
  }

  .hero-wrapper-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 35px;
    font-size: 15px;
  }

  .hero-wrapper-button svg {
    width: 15px;
    height: 15px;
  }
}

/* GENERAL SECTION HEADER */
.section-headers {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #20b303;
  padding: 30px 0;
  background-color: #d7dec3;
  margin: 30px 0;
  /* background-color: #fe6600; */
}

@media (max-width: 700px) {
  .section-headers {
    font-size: 15px;
    padding: 15px;
    margin: 0px 0px 20px 0px;
  }
}

/* PRODUCTS */
.products-wrapper {
  margin-bottom: 50px;
}

.each-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 2em;
}

.each-product {
  margin: 0 20px 20px 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 2s;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.each-product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2px;
}

.product-image img {
  width: 180px;
  height: 180px;
  margin-right: 10px;
  /* transition: transform 0.2s; Animation */
}

@media (max-width: 850px) {
  .each-product-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  .each-product {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .each-product {
    width: 80%;
    margin: 0 10px 10px 10px;
  }
}

/* PRODUCT PAGE BRIEF */

.productbrief-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 1px;
  letter-spacing: 1px;
  color: #20b303;
}

.productbrief-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #444643;
}
.productbrief-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #20b303;
}

.productbrief-price-kg {
  font-size: 15px;
  font-weight: 500;
}

.productbrief-button-wrapper {
  width: 100%;
  text-align: center;
}

.productbrief-button {
  background-color: #20b303;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #20b303;
  transition: 0.5s;
  text-align: center;
  width: 70%;
}

.productbrief-button:hover {
  background-color: white;
  color: #20b303;
  border: 1px solid #20b303;
  transition: 0.5s;
}

@media (max-width: 550px) {
  .productbrief-title {
    font-size: 14px;
  }
  .productbrief-text {
    font-size: 12px;
  }
  .productbrief-price {
    font-size: 14px;
  }
  .productbrief-button {
    font-size: 13px;
  }

  .each-product {
    width: 90%;
    margin: 0 10px 10px 10px;
  }
}

/* ABOUT US */
.aboutus-content-wrapper {
  margin: 0 90px;
}

.aboutus-brief {
  font-size: 16px;
  font-weight: 400;
  color: #807e7c;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
}
.aboutus-brief-large {
  font-size: 20px;
  font-weight: 500;
  color: #20b303;
}

.each-aboutus-scroll img {
  width: 350px;
  height: 350px;
  margin: 0 20px 20px 20px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 2s;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-scroll {
  overflow: hidden;
  display: flex;
  height: 350px;
  width: 100%;
  margin: 0 auto;
}

.aboutus-scroll div {
  height: 350px;
  width: 350px;
  margin-left: 20px;
  animation: slide 30s linear infinite;
}

@media (max-width: 700px) {
  .aboutus-content-wrapper {
    margin: 0 20px;
  }

  .aboutus-brief-large {
    font-size: 15px;
  }

  .aboutus-brief {
    font-size: 12px;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}

/* MISSION SECTION */ /* VISION SECTION */
.missionvision-wrapper {
  margin: 0 90px;
}

/* .missionvision-wrapper {
} */

.missionvision-wrapper-brief {
  font-size: 16px;
  font-weight: 400;
  color: #807e7c;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.6;
}

.missionvision-largetext {
  font-size: 20px;
  font-weight: 500;
  color: #20b303;
}

@media (max-width: 700px) {
  .missionvision-wrapper {
    margin: 0 20px;
  }

  .missionvision-wrapper-brief {
    font-size: 12px;
    font-weight: 400;
  }

  .missionvision-largetext {
    font-size: 14px;
  }
}

/* TESTIMONY SECTION    */
.eachtestimony-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px 90px;
  line-height: 1.4;
}

.eachtestimony-section .one {
  font-size: 16px;
  font-weight: 400;
  color: #807e7c;
  text-align: left;
}

.eachtestimony-section .two {
  font-size: 16px;
  font-weight: 400;
  color: #807e7c;
  text-align: left;
}

.eachtestimony-section .three {
  font-size: 40px;
  font-weight: 700;
  color: #222222;
  text-align: left;
}

.eachtestimony-section .four {
  font-size: 16px;
  font-weight: 400;
  color: #807e7c;
  text-align: left;
}

@media (max-width: 700px) {
  .eachtestimony-section .one,
  .eachtestimony-section .two,
  .eachtestimony-section .four {
    font-size: 12px;
  }

  .eachtestimony-section .three {
    font-size: 30px;
  }
}

/* SLIDE FOR TESTIMONIAL */
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fffffff1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 0px 38px;
  /* text-align: center; */
}

.mySlides-images {
  width: 451.2px;
  height: 509.2px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 14px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #20b303;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 7px;
  background: rgb(228, 226, 226);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #20b30334;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #20b303;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

@media (max-width: 700px) {
  .eachtestimony-section {
    margin: 20px 20px;
  }

  .eachtestimony-section .one,
  .eachtestimony-section .two,
  .eachtestimony-section .three,
  .eachtestimony-section .four {
    text-align: center;
  }

  .eachtestimony-brief {
    order: -1 !important;
  }

  .eachtestimony-section .three {
    font-size: 40px;
    text-align: center;
  }

  .mySlides-images {
    width: 360.96px;
    height: 407.36px;
  }

  .prev {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 445px) {
  .mySlides-images {
    width: 307px;
    height: 347.7px;
  }
}

/* FOOTER SECTION */
.footer-main {
  background-color: #d7dec3;
}

.footer-wrapper {
  display: flex;
  padding: 30px 90px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.footer-wrapper-minisections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0;
}

.footer-wrapper :first-child {
  flex: 1.6 1 0;
}

.footer-wrapper-minisections .logo img {
  width: 138px;
  height: 43px;
  margin-bottom: 20px;
}

.footer-wrapper-minisections p {
  font-size: 16px;
  font-weight: 400;
  color: #807e7c;
  margin-bottom: 20px;
  text-align: left;
  white-space: normal;
  line-height: 1.6;
}

.footer-wrapper-minisections .footer-button {
  padding: 5px 30px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  transition: all 0.5s;
  background-color: #20b303;
  outline: #20b303;
  border: 1px solid #20b303;
  text-align: left;
}

.footer-wrapper-minisections .footer-button:hover {
  color: #20b303;
  background-color: white;
}

.footer-wrapper-minisections h2 {
  color: #fe6600;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  white-space: nowrap;
}

.footer-wrapper-minisections ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.footer-wrapper-minisections ul a {
  padding-bottom: 40px;
  text-decoration: none;
  text-align: left;
  color: #807e7c;
}

.footer-wrapper-minisections ul a:hover {
  color: #464443;
}

.footer-wrapper-minisections ul a li {
  padding-bottom: 15px;
}

.footer-wrapper-minisections a img {
  width: 30px;
  height: 30px;
  filter: grayscale(1);
  margin-right: 10px;
}

.footer-wrapper-minisections a img:hover {
  filter: none;
  transition: 1s;
  animation: wiggle 1s 2ms 1 ease-out none;
}

.footer-connect {
  margin-bottom: 10px;
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
}

.footer-connect-phone,
.footer-connect-mail {
  color: #807e7c;
  text-decoration: none;
}

.footer-connect-phone:hover,
.footer-connect-mail:hover {
  color: #464443;
  font-weight: 500;
}

.footer-reserved {
  border-top: 1px solid #46444346;
  padding: 20px 90px;
}

.footer-reserved p {
  font-size: 12px;
  font-weight: 400;
  color: #807e7c;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-wrapper {
    padding: 20px 20px;
  }

  .footer-wrapper-minisections {
    margin: 10px 0px;
  }

  .footer-reserved {
    padding: 20px 20px;
  }
  .footer-wrapper-minisections p {
    margin-bottom: 10px;
  }

  .footer-wrapper-minisections p,
  .footer-wrapper-minisections ul li,
  .footer-connect span {
    font-size: 12px;
  }

  .footer-wrapper-minisections ul a li {
    padding-bottom: 10px;
  }

  .footer-wrapper-minisections ul a li.mobileTestimonyList {
    padding-bottom: 0px;
  }

  .footer-wrapper-minisections .footer-button,
  .footer-wrapper-minisections h2 {
    font-size: 14px;
  }

  .footer-wrapper-minisections .logo img {
    width: 110.4px;
    height: 34.4px;
    margin-bottom: 10px;
  }
}

/* ANIMATIONS */
@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
